@model WebApplication6_2.Models.ImagesViewModel

@{
    ViewBag.Title = "ImageList";
}
<style type="text/css">
    img {
        margin:10px;
        width: 30%;
        min-width:256px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
        }
</style>

<div class="jumbotron">
    <h1>Ваш список картинок@((Model.Images.Count == 0) ? " пуст." : ".")</h1>
    <p class="lead">На данной веб страничке, показаны все ваши карнки. Кликните по понравившейся картинки и вы увидете дополнительную информацию.</p>
</div>

<div>
    @foreach (var t in Model.Images)
    {
        <a href="@Url.Action("ImagePage", "Images", new { link = @t.link})">
            <img src=@Url.Action("GetImage", "Images", new { link = @t.link }) />
        </a>
    }
</div>